[submodule "AdministrativeBoundary"]
	path = AdministrativeBoundary
	url = git@kijtra.github.com:KsjGeoJSON/AdministrativeBoundary.git
[submodule "ElementarySchoolDistrict"]
	path = ElementarySchoolDistrict
	url = git@kijtra.github.com:KsjGeoJSON/ElementarySchoolDistrict.git
[submodule "MiddleSchoolDistrict"]
	path = MiddleSchoolDistrict
	url = git@kijtra.github.com:KsjGeoJSON/MiddleSchoolDistrict.git
[submodule "MedicalArea"]
	path = MedicalArea
	url = git@kijtra.github.com:KsjGeoJSON/MedicalArea.git
[submodule "PublicFacility"]
	path = PublicFacility
	url = git@kijtra.github.com:KsjGeoJSON/PublicFacility.git
[submodule "WelfareInstitution"]
	path = WelfareInstitution
	url = git@kijtra.github.com:KsjGeoJSON/WelfareInstitution.git

[submodule "AttractCustomersFacility"]
	path = AttractCustomersFacility
	url = git@kijtra.github.com:KsjGeoJSON/AttractCustomersFacility.git
[submodule "School"]
	path = School
	url = git@kijtra.github.com:KsjGeoJSON/School.git
